# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

dart_packages/dram/example/android
dart_packages/dram/example/ios
dart_packages/dram/example/web
dart_packages/dram_queryable/example/android
dart_packages/dram_queryable/example/ios
dart_packages/dram_queryable/example/web

lib.a
lib.h